.btn {
  border: 1px solid transparent;
  transition: transform .15s ease;
  will-change: transform;
  line-height: 1.5;
}

.btn:hover {
  /* box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08); */
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}

[class*=btn-outline-] {
  @apply border;
}
