.card {
  margin-bottom: 30px;
  border: 0;
}

.card-header {
  padding: 1.25rem 1.5rem;
  margin-bottom: 0;
  font-weight: 500;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.card-body {
  flex: 1 1 auto;
  padding: 1.5rem;
}
