#page-window {
  transition: all 0.3s ease-in;
}

#page-window.with-sidebar-left {
  margin-left: var(--sidebar-width);
}

#page-window.with-sidebar-right {
  margin-right: var(--sidebar-width);
}

#page-window.with-sidebar-left-mobile {
  transform: translateX(calc(var(--sidebar-width)));
}

#page-window.with-sidebar-right-mobile {
  transform: translateX(calc(-1 * var(--sidebar-width)));
}
