/**
 * Imports the fontawesome font library from /fonts/fontawesome
 */
@import '../fonts/fontawesome/css/fontawesome.min.css';
@import '../fonts/fontawesome/css/regular.min.css';
@import '../fonts/fontawesome/css/solid.min.css';

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  src: local('Open Sans'),
    url(./assets/fonts/OpenSans-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: local('Open Sans'),
    url(./assets/fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: local('Open Sans'),
    url(./assets/fonts/OpenSans-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: local('Open Sans'),
    url(./assets/fonts/OpenSans-Bold.ttf) format('truetype');
}

html,
body {
  font-family: 'Open Sans',
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
